@mixin button($color, $bg-color) {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border: $color solid 2px;
  border-radius: 10px;
  color: $color;
  background-color: $bg-color;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
  user-select: none;

  & p {
    z-index: 1;
  }

  &:hover {
    & span {
      color: $bg-color;
      z-index: 2;
    }
  }

  &:active {
    border-color: $color;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background-color: $color;
    opacity: 50%;
    border-radius: 50%;
    transition: all .5s;
  }

  &::before {
    left: 0;
    transform: translateX(-8em);
  }

  &::after {
    right: 0;
    transform: translateX(8em);
  }

  &:hover:before {
    transform: translateX(-1em);
    opacity: 1;
  }

  &:hover:after {
    transform: translateX(1em);
    opacity: 1;
  }

  &:active:before,
  &:active:after {
    background: $color;
  }
}

@mixin registry-btn($color, $bg-color) {

  display: flex;
  width: auto;
  background-color: transparent;
  border: $color solid 1px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;


  .icon-Container {
    width: 30px;
    height: 30px;
    background-color: #9DD1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .text {
    width: auto;
    margin-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color;
  }

  .icon-Container svg {
    transition-duration: 1.5s;
  }

  &:hover {
    background-color: $color;
    border: $bg-color solid 1px;

    & .text {
      color: $bg-color;
    }

    .icon-Container svg {
      transition-duration: 1.5s;
      animation: arrow 1s linear infinite;
    }
  }

  @keyframes arrow {
    0% {
      opacity: 0;
      margin-left: 0px;
    }

    100% {
      opacity: 1;
      margin-left: 10px;
    }
  }
}