$linen: #F9EBE0;
$baby-blue: #9DD1F1;
$dolar-color: #105A37;
$prussian-blue: #0B3954;
$bondi-blue: #3db1d7;
$oxford-blue: #0D2149;
$dark-blue: #161032;
$white: #fff;
$black: #000;
$error-color: #FF0000;