@font-face {
  font-family: ElMessiri;
  src: url('../fonts/ElMessiri-Regular.ttf');
}

body {
  font-family: ElMessiri;
}

#showPass+label {
  font-size: 12px;
}

.navbar {
  background-color: $linen;
  border-bottom: 2px solid $dark-blue;

  .navbar-toggler {
    color: $oxford-blue !important;
    font-size: 24px;
    border: 2px solid transparent;

    &:focus {
      box-shadow: none;
      border: 2px solid $oxford-blue;
    }
  }

  &-brand {
    svg {
      width: 40px;
      margin-left: 5px;
      fill: $oxford-blue;
    }

    .brand-name {
      color: $oxford-blue;
      font-weight: 600;
    }
  }

  .nav-item {
    &.active {
      a {
        background-color: $oxford-blue;
        color: $linen;
      }
    }
  }

  .nav-link {
    font-size: 20px;
    margin-left: 15px;
    border-radius: 10px;
    font-weight: 500;
    color: $oxford-blue;
    transition: all .5s ease;

    &:hover {
      background-color: $oxford-blue;
      color: $linen;
    }

  }

  .login-btn {
    padding: 8px;
    width: auto;
    display: flex;
    align-items: center;
  }
}

section {
  &.introduction {
    height: calc(100vh - 66px);
    padding-top: 66px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100vh;
      background-color: rgba($color: $oxford-blue, $alpha: 0.6);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    & p {
      position: absolute;
      z-index: 2;
      color: $linen;
      font-size: 28px;
      text-align: center;
      padding: 0 100px;
      top: 50%;
      transform: translateY(-50%);
    }

    & img {
      width: 100%;
      height: calc(100vh - 66px);
    }
  }

  &.services {
    height: 100vh;
    padding: 100px 0 0;
    background-color: $baby-blue;
    color: $dark-blue;
    display: flex;
    align-items: center;

    .services-icon {
      color: $dark-blue;
      margin-bottom: 0;
    }

    h3 {
      font-weight: bold;
      margin-top: 0;
    }

    p {
      padding: 5px 50px;
      font-size: 16px;
    }
  }

  &.tours {
    height: 100vh;
    padding: 100px 0 50px;
    background-image: linear-gradient(90deg, $dark-blue, $prussian-blue);

    .card {
      max-width: 25rem;
      margin: auto;
      background-color: $linen;
      color: $dark-blue;

      &-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      &-text {
        .price {
          font-weight: bold;
          color: $dolar-color;
        }
      }

      .button {
        @include button($dark-blue, $linen);
        font-size: 16px;
        padding: 10px;
      }

    }
  }

  &.contact {
    padding: 100px 0 50px;
    background-color: $baby-blue;
    color: $dark-blue;

    .contact {
      &-ways {
        list-style: none;
        padding: 0;

        .way {
          margin-bottom: 5px;
          font-size: 18px;

        }
      }

      &-title {
        position: relative;
        padding-bottom: 4px;
        margin-bottom: 20px;

        &::after {
          content: '';
          width: 50px;
          height: 5px;
          background-color: $dark-blue;
          border-radius: 2px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }

  }
}

footer {
  background-color: $dark-blue;
  color: $linen;
}

// Login Page Styles
// ----------------------------------

.login-page-content {
  height: calc(100vh - 40px);
  padding-top: 65px;

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: 65px;
    z-index: -1;
  }

  .form-holder {
    margin-top: 15px;
    width: max-content;
    padding: 25px;
    border-radius: 15px;
    color: $white;
    background-color: rgba($color: $dark-blue, $alpha: 0.8);
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);

    .notEqualPassword {
      font-size: 12px;
      color: rgb(255, 34, 0);
      opacity: 0;
    }

    .form-control {
      border: 2px dotted transparent;


      &:focus {
        box-shadow: none;
        border: 2px dotted $bondi-blue;
      }
    }

    .btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button {
      @include registry-btn($baby-blue, $dark-blue);
      font-size: 16px;
      padding: 5px 10px;
    }

    .forget-pass-btn,
    .have-account {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $linen;
        text-decoration: underline;
      }
    }

    .signup-p {
      a {
        text-decoration: none;
        color: $white;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
          color: $linen;
        }
      }
    }
  }
}


// Media Queries
@media (max-width: 1024px) {
  section {
    &.introduction {
      height: auto;

      &::before {
        height: 100%;
      }

      img {
        height: 100%;
      }

    }


    &.services {
      height: auto;
      padding: 50px 0;

      p {
        padding: 5px 25px;
      }
    }

    &.tours {
      height: auto;
      padding: 50px 0;
    }
  }

}


@media (max-width: 992px) {
  section {
    &.services {
      p {
        font-size: 14px;
        padding: 5px 0;
      }
    }

    &.tours {
      height: auto;
    }

    &.contact {
      .contact {
        &-ways {
          .way {
            font-size: 16px;
          }
        }
      }
    }
  }

  .nav-link {
    padding: 5px;
    margin-top: 5px;
  }

  .nav-item,
  .login-btn {
    width: fit-content !important;
    margin: auto !important;
  }
}

@media (max-width: 769px) {
  section {
    &.tours {
      .card {
        &-title {
          font-size: 15px;
        }

        &-text {
          font-size: 14px;
        }

        .button {
          font-size: 14px;
          padding: 8px;
        }
      }
    }

    &.contact {
      padding: 50px 0 25px;
    }
  }

}

@media (max-width: 576px) {
  section {
    &.introduction p {
      font-size: 20px;
    }


    &.tours {
      .card {
        margin-top: 25px;
      }
    }

    &.contact {
      .contact {
        &-ways {
          margin-top: 25px;
        }
      }
    }


  }

  // login & signup page
  .login-page-content {
    .form-holder {
      width: 350px;

      label {
        font-size: 14px;
      }

      .form-control {
        height: 30px;
      }

      .button {
        font-size: 12px;
        padding: 7px;
      }

      .forget-pass-btn,
      .have-account {
        font-size: 14px;
      }

      .signup-p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 426px) {
  section {
    &.introduction p {
      font-size: 18px;
      padding: 0 25px;
    }
  }
}